/* Navbar Content */

main {
    color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
  }

.nav {
    display: flex;
    padding: 1em 2em;
  }
  
  .nav ul {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    list-style: none; /* **Add this to remove bullets from the list** */
    padding: 0; 
    
  }
  
  .nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
  }
  
  .nav-title a {
    color: #5cb85c;
    font-size: 3rem;
    text-align: center;
    padding-left: 15rem;
    
  }
  
  .nav-item {
    display: block;
    margin-left: auto;
    list-style: none;
    padding: 0 1emm;

    background-color: #b3f5b3;
    padding: 10px;
    border-radius: 5px;
    /* background-color: #c46486; */
  }
  
  .nav-link {
    color: #000;
    text-decoration: none;
  }
  
  .active {
    font-weight: 700;
  }
.nav-button{
  background-color: #b3f5b3;
  color: #000;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none; /* Prevent underlines */
  border-radius: 5px;
  display: inline-block;
}
.nav-button a {
  color: #000; /* Ensure link inherits button color */
  text-decoration: none; /* Prevent underline on links */
}

.nav-button:hover {
  background-color: #a3e5a3; /* Add hover effect */
}