/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: comic sans ms; /* need to change this */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color:#053f1d;
  /* height: 100vh; */
  flex-direction: column;
}